.product-detail {
  .product__title {
    margin-bottom: 10px;
    font-size: $text-2xl;
    font-weight: $text-light;
    color: $color-text;
  }

  .product__size {
    .size-list {
      flex-wrap: wrap;
      gap: 18px;

      .box {
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        font-size: $text-xl;
        font-weight: $text-semiBold;
        background: rgb(226, 226, 226);
        transition: 0.35s ease-in-out;
        border-radius: 10px;
        cursor: pointer;
      }

      .box:hover {
        background: rgba(145, 145, 145, 0.8);
      }
    }
  }
  .product__size h4{
    color:$color-green;
  }
  .product__price {
    font-size: $text-2xl;
    font-weight: $text-semiBold;
    color: $color-red;
  }
  .product__action{
    .product__add button{
      width: 50px;
      height: 50px;
    }
  }
  .product__quantity {
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
  }

  .product__btn-cart {
    font-size: $text-xl;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 24px;
    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  }
}
