/* =============== Color ============ */

$color-button-1: #F8B653;
$color-button-2: #E1B067;
$color-text: #000000;
$color-text-lighter: #CBC9C9;
$c1-background-gray: #DEDDDC;
$c2-background-gray: #F8F8F8;
$c3-background-gray: #ECECEC;
$c4-background-gray: #EDF9EE;
$color-red: #F50E0E;
$color-submit: #AE18E2;
$color-green: #1ED90E;
$text-color-white: #F6F6F6;

$main-font: 'Inter';
